@use '../abstracts' as a;

.bg-pattern {
  @include a.div-center;
  height: 800rem;
  display: flex;
  flex-direction: row;
  &__span {
    margin-top: -(a.$m-3);
    border: 0.1px dashed rgba(255, 255, 255, 0.05);// t be editted
    margin-right: a.$m-3;
    &:nth-child(even) {
      margin-right: 0;
      &:not(:last-of-type) {
        margin-right: a.$m-7;
      }
    }
  }
}

.bg-text {
  font-size: a.$big-font;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: a.$fw-7;
  line-height: .8;
  text-align: end;
  color: rgba(255, 255, 255, 0.2);// to be editted
}