.bg-pattern {
  height: 1000rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  // z-index: -1;
  &__span {
    margin-top: -3rem;
    border: 0.3px dashed rgba(255, 255, 255, 0.05);
    margin-right: 2rem;
    &:nth-child(even) {
      margin-right: 4rem;
    }
  }
}