/********* This is for Typography ***********/
@use '../abstracts' as a;

// .heading-main {
//   color: a.$text-color;
//   font-size: a.$main-font;

//   &--red {
//     color: a.$tedx-red;
//   }
// }



h1,h2,h3,p,ul {
  @include a.mp;
}

ul {
  padding: 0;
  list-style: none;
}

a,a:visited,a:active{
  text-decoration: none;
  color: a.$text-color;
}


.text__big {
  margin-left: -12rem;
  font-size: a.$big-font;
  font-weight: a.$fw-7;
  color: rgba(255, 255, 255, 0.3);//to be editted
}


// .hero {
//   position: relative;
//   &__text {
//     position: absolute;
//     width: 45rem;
//     &--main { 
//       top: 50%;
//       left: 0;
//     }
//     &--sub {
//       top: 22%;
//       right: 10%;
//     }
//     &--font {
//       text-transform: capitalize;
//       bottom: 6%;
//       right: 10%;
//       color: a.$tedx-red;
//       font-size: a.$des-font;
//     }
//   }
// }








