/********* This is for Typography ***********/
@use '../abstracts' as a;

.heading-main {
  color: a.$text-color;
  font-size: a.$h1-font-size;

  &--red {
  color: a.$heading-color;
  font-size: a.$h1-font-size;
  }
}



h1,h2,h3,p,ul {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a,a:visited,a:active{
  text-decoration: none;
}


.text__big {
  font-size: 30rem;
  font-weight: a.$font-bold;
  color: rgba(255, 255, 255, 0.3);
}

.text__main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 45rem;
}

.text__sub {
  position: absolute;
  top: 22%;
  right: 10%;
  width: 45rem;
}

.text__red {
  text-transform: capitalize;
  position: absolute;
  bottom: 6%;
  right: 10%;
  width: 45rem;
  color: a.$heading-color;
  font-size: 4rem;
}



