/********* This is Home specific styles ***********/
@use "../abstracts" as a;
.home {
  padding: 8rem 0 2rem;
}
.bad-look {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  
  
}
.good-look {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home__container {
  display: grid;
  align-items: center;
  // flex-direction: column;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  // height: 100vh;
  &--intro {
    .intro-title {
      color: a.$text-color;
      font-size: 4rem;
    }
    .intro-subtitle {
      color: a.$tedx-red;
      font-size: 4rem;
    }
  }
  &--brief {
    h2 {
      font-size: 1.4rem;
      font-weight: 100;
      line-height: 1.5;
    }
  }
  .hero {
    &__text {
      &--main {
        top: 50%;
        left: 0;
      }
      &--sub {
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 100;
      }
      &--font {
        text-transform: capitalize;
        bottom: 6%;
        right: 10%;
        color: a.$tedx-red;
        font-weight: 700;
        font-size: 3rem;
      }
      &--em {
        font-weight: 300;
        font-size: 2.9rem;
      }
    }
  }

  .home-scroll {
    // display: none;
    text-align: center;
    margin-bottom: 3rem;
    .scroll-link {
      color: a.$tedx-red;
      transition: 0.3s;
    }
    .scroll-link:hover {
      color: #fff;
      transform: translateY(-3%);
    }

    .mouse-btn {
      font-size: 2rem;
    }
    .scroll-name {
      font-size: 1.5rem;
      color: #fff;
      font-weight: a.$fw-5;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
    }
    .scroll-btn {
      font-size: 1.5rem;
    }
  }
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 2.5rem;
  margin-bottom: 2.5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background: a.$tedx-red;
  color: #fff;
  z-index: 10;
  transition: 0.5s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: a.$text-color;
  transform: translate3d(3% 3% 3%);
}

.scrolltop--icon {
  font-size: 1.5rem;
  color: #ffffff;
}
.scrolltop--icon:hover {
  color: a.$tedx-red;
}

/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 967px) {
  //Only For the round scrolling
  .text__scroll {
    display: none;
  }
}

@media screen and (min-width: 968px) {
  .home {
    padding: 0;
  }
  // .bad-look {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 6rem;
  // }
  .good-look {
    margin-top: 10rem;
  }
  .bad-look {
    margin: -5rem 0 0 -5rem;
  }

  .home__container {
    align-items: flex-start;
    justify-content: flex-start;
    // column-gap: 10rem;
    grid-template-columns: 70% 25%;
    height: 100vh;
    // margin-top: ;
    &--intro {
      .intro-title {
        color: a.$text-color;
        font-size: 16rem;
      }
      .intro-subtitle {
        color: a.$tedx-red;
        font-size: 16rem;
      }
    }
    &--brief {
      width: 60%;
      & h2 {
        font-size: 1.5rem;
        font-weight: 100;
      }
    }
  }

  .home-scroll {
    // i remove it from the tablet view upward
    display: none;
  }

  .hero {
    &__text {
      &--main {
        top: 50%;
        left: 0;
      }
      &--sub {
        font-size: 1.7rem !important;
        font-weight: 100;
      }
      &--font {
        text-transform: capitalize;
        bottom: 6%;
        right: 10%;
        color: a.$tedx-red;
        font-size: 3rem;
      }
    }
  }

  .text__scroll {
    display: block;
  }
  .text__scroll {
    // i copied this style from from the animation scss
    align-self: flex-start;
  }
}

@media screen and (min-width: 1200px) {
}
